<div class="container">
  <div class="header">
    <div class="hero">
      <h1>SEBASTIAN SZUCH</h1>
      <p>APPLICATION DEVELOPMENT</p>

      <div class="herolink">
        <a href="/assets/Resume-Sebastian-Szuch.pdf" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/sjszuch/" target="_blank"
          >LinkedIn</a
        >
        <a href="https://github.com/sjszuch" target="_blank">GitHub</a>
        <P>SJSzuch@gmail.com</P>
        <p>412 - 708 - 7806</p>
      </div>
    </div>
  </div>

  <!-- EXPERIENCE SECTION -->
  <div class="section s1">
    <div class="title">
      <h1>Experience</h1>
    </div>

    <!-- POINT PARK -->
    <div class="content">
      <app-card
        title="BACHELOR OF COMPUTER SCIENCE"
        sub="POINT PARK UNIVERSITY"
        desc="Currently, I am attending Point Park University for computer science. I am on track to graduate in 2024."
        link1="View Site"
        href1="https://www.pointpark.edu/index"
        scroll="true"
      ></app-card>

      <!-- FNB -->
      <app-card
        title="FIRST NATIONAL BANK"
        sub="FULL TIME SUMMER CO-OP"
        desc="In the summer of 2023, I worked full-time as an application developer at First National Bank as part of a cooperative education program. My primary responsibilities included developing components for a full-stack Angular/Java Loan Review application used organization-wide. I created functions to retrieve data from the backend and generate PDF loan reports, redesigned the dashboard for easy KPI customization, and implemented three new KPIs using data from a large database. In addition to technical work, I improved my organizational and communication skills through participation in meetings and presentations."
        link1="View Site"
        href1="https://www.fnb-online.com/"
      ></app-card>

      <!-- FEDEX -->
      <app-card
        title="FEDEX CORPORATE HQ"
        sub="STUDENT INTERNSHIP"
        desc="Assisted a team of Software Developers to create, deploy, and maintain web applications for the company. Required frequent use of JavaScript- with some SQL and Java as well."
        link1="View Site"
        href1="https://www.fedex.com/en-us/home.html"
      ></app-card>

      <!-- RED HOUSE -->
      <app-card
        title="RED HOUSE COMMUNICATIONS"
        sub="STUDENT INTERNSHIP"
        desc="Worked collaboratively alongside web designers and developers in bringing clients' visions to life through Adobe software and HTML/CSS technologies."
        link1="View Site"
        href1="https://redhousecom.com/"
      ></app-card>

      <app-card
        title="STAPLES"
        sub="TECHNOLOGY ASSOCIATE"
        desc="As a Staples technology associate for over a year, I provided expert assistance to customers in hardware and software matters, translating complex tech concepts into understandable terms. My responsibilities included malware removal, troubleshooting, product demos, and identifying the right components for customers' needs."
        link1="View Site"
        href1="https://www.staples.com/"
      ></app-card>

      <app-card
        title="THE OUTREACH TEAM"
        sub="VOTER CONTACT STAFF"
        desc="Voter canvassing taking place during the 2022 election. Here, I traveled to many neighborhoods and communities in Western Pennsylvania to educate potential voters about the candidates."
        link1="View Site"
        href1="https://www.theoutreachteam.net/"
      ></app-card>
    </div>
  </div>

  <hr />

  <!-- PROJECTS SECTION -->
  <div class="section s2">
    <div class="title">
      <h1>Projects</h1>
    </div>

    <div class="content">
      <app-card
        title="jLearn"
        sub="HTML, CSS, JavaScript"
        desc="jLearn is a Japanese language learning site that allows users to practice characters and words through a variety of study modules that include helpful resources and quizzes."
        link1="View Site"
        href1="https://www.sjszuch.com/hiragana-quiz/"
        link2="GitHub"
        href2="https://github.com/sjszuch/hiragana-quiz"
      ></app-card>

      <app-card
        title="MTG Health Counter"
        sub="HTML, CSS, JavaScript"
        desc="A simple health point counter to be used with the popular card game, Magic: the Gathering. Also includes the options to roll d6 and d20 dice."
        link1="View Site"
        href1="https://www.sjszuch.com/mtg-life-counter/"
        link2="GitHub"
        href2="https://github.com/sjszuch/mtg-life-counter"
      ></app-card>

      <app-card
        title="Adv. Data Structures & Algorithms"
        sub="Javascript"
        desc="A collection of projects that I have worked on for my Advanced Data Structures and Algorithms course at Point Park University."
        link1="View Site"
        href1="https://www.sjszuch.com/CMPS260/"
        link2="GitHub"
        href2="https://github.com/sjszuch/CMPS260"
      ></app-card>

      <app-card
        title="Loan Review Application"
        sub="Angular, SCSS, Java"
        desc="The complex internal loan review application I worked on during my time with First National Bank. This application is used by the bank to review loans and loan applications."
      ></app-card>
    </div>
  </div>

  <hr />
  <!-- SKILLS SECTION -->
  <div class="section s3">
    <div class="title">
      <h1>Skills</h1>
    </div>

    <div class="content">
      <app-card
        title="DEVELOPMENT"
        desc="Highly proficient with front-end technologies. HTML, CSS, JavaScript, Angular, React and SCSS are my most used technologies. I also have strong experience with Node, Bootstrap, Git, Azure Devops, SQL and Java. I have a working knowlege of C#. I greatly enjoy working with APIs and advanced applications which require logic and problem solving. Currently I am further researching and learning about back-end technologies and frameworks."
      ></app-card>
      <app-card
        title="DESIGN"
        desc="I have a strong passion for creating user-friendly experiences with my projects, and utilize many tools to design them. I have a high level of experience with nearly all Adobe products, including Photoshop, XD, InDesign, Illustrator, Premiere Pro, Lightroom, and more. I also have much experience with Figma, Canva, and other design tools."
      ></app-card>
      <app-card
        title="MANAGEMENT"
        desc="Along with my Computer Science degree, I have taken many management courses which have helped me to further establish and build myself as a strong leader. I have experience with team management, and have partaken in many different types of meetings, often leading the presentation when possible. I have also taken many courses on business and marketing, which have helped me to understand the business side of the industry."
      ></app-card>
    </div>
  </div>

  <hr />

  <!-- Education -->
  <div class="section s4" id="courses">
    <div class="title">
      <h1>Education</h1>
    </div>

    <div class="content">
      <app-card
        title="INFORMATION TECHNOLOGY"
        desc="Advanced Programming -
        JavaScript Data Structures & Algorithms - SQL Database Administration - Object Oriented Programming - Server Management - Networking & Security - MicroComputing - Cooperative Education - Business Analytics - eCommerce - Intro to Programming"
      ></app-card>

      <app-card
        title="BUSINESS"
        desc="Information Technology for Managers - Marketing - Corporate Finance - Managerial Accounting - Financial Accounting - Human Resource Management - Quantative Operations Management - Business Law - Microeconomics - Organizational Behavior - Statistics - Business Career Prep"
      ></app-card>

      <app-card
        title="CORE CURRICULUM"
        desc="Problem Solving with Information Technology - Economics - Oral Communication - Ethical Leadership - English Composition - University Life - Global Cultural Studies - Astronomy, Space, and Time - Advanced Algebra - Psychological Foundations - Music Composition - Criminal Justice - Psychology of Intervention"
      ></app-card>
    </div>
  </div>

  <!-- About -->
  <div class="section s5">
    <div class="title">
      <h1>About Me</h1>
    </div>

    <div class="content">
      <app-card
        desc="Now that you have some idea of the things that make me a valuable member of your team, let me tell you a little bit about myself! Yes, I'm a hardworking and dedicated individual, but I also have many other interests and hobbies. I am a huge fan of music and spend a lot of my free time practicing guitar. I enjoy writing and producing music however I'm still learning and haven't released anything yet. I hope to one day travel the world with my family and learn about more about different countries across the globe. I also love playing videogames and have been working on developing my own in Unity which is going very well."
      ></app-card>

      <!-- SMALL IMAGES (MOBILE) -->

      <!-- <app-picture img="/assets/images/beagle-hound-dog.webp"></app-picture>

      <app-picture img="/assets/images/licensed-image.jpg"></app-picture> -->
    </div>
  </div>

  <!-- BACKGROUND IMAGES (DESKTOP) -->

  <!-- <img class="deco d1" src="/assets/images/beagle-hound-dog.webp" alt="" />
  <img class="deco d2" src="/assets/images/beagle-hound-dog.webp" alt="" />
  <img class="deco d3" src="/assets/images/beagle-hound-dog.webp" alt="" />
  <img class="deco d4" src="/assets/images/beagle-hound-dog.webp" alt="" /> -->
</div>
