<div class="container">
  <div class="header">
    <div class="hero">
      <h1>SEBASTIAN SZUCH</h1>
      <p>FULLSTACK DEVELOPMENT</p>

      <div class="herolink">
        <a href="/assets/SzuchResume24.pdf" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/sjszuch/" target="_blank"
          >LinkedIn</a
        >
        <a href="https://github.com/sjszuch" target="_blank">GitHub</a>
        <P>SJSzuch@gmail.com</P>
        <p>412 - 708 - 7806</p>
      </div>
    </div>
  </div>

  <!-- EXPERIENCE SECTION -->
  <div class="section s1">
    <div class="title">
      <h1>Experience</h1>
    </div>

    <!-- POINT PARK -->
    <div class="content">
      <app-card
        title="BACHELOR OF COMPUTER SCIENCE"
        sub="POINT PARK UNIVERSITY"
        desc="Achieved a Bachelor's Degree of Computer Science at Point Park University with a 3.9 GPA in 2024."
        link1="View Site"
        href1="https://www.pointpark.edu/index"
        scroll="true"
      ></app-card>

      <!-- PennMac -->
      <app-card
        title="FORWARD MAJORITY"
        sub="TEAM LEAD"
        desc="While doing web development contract work, I joined the Forward Majority organization as a Team Lead. Here, I am responsible for leading a large team of new and experienced canvassers in the field, as well as registering potential Pennsylvania voters myself. My main responsibilities include training new canvassers, organizing daily meetings, managing the team's daily goals, and ensuring that all team members are following the organization's guidelines. I also worked closely with the Field Director to develop new strategies, locations, and tactics to increase voter registration and turnout. This campaign runs until October 2024."
        link1="View Site"
        href1="https://forwardmajority.org/"
      ></app-card>

      <!-- PennMac -->
      <app-card
        title="PENNSYLVANIA MACARONI COMPANY"
        sub="WEB DEVELOPER"
        desc="After graduation, I was contracted by Pennsylvania Macaroni Company to completely redesign and redevelop their website. After creating a modern, responsive, and user friendly design using Figma, I developed the site with HTML, SCSS, JavaScript, jQuery, and Perl- which allows managers to easily create new pages with my custom template and update store inventory. I am currently working on the new site and will update this section with the link once it is live."
        link1="View Site"
        href1="https://test.pennmac.com/"
      ></app-card>

      <!-- FNB -->
      <app-card
        title="FIRST NATIONAL BANK"
        sub="FULL TIME SUMMER CO-OP"
        desc="In Summer 2023, I worked full-time as an Application Developer at First National Bank. My primary responsibilities included developing components for a full-stack Angular, Java, and Apache loan review application which is now used company-wide. One of my first tasks was to create TypeScript functions that retrieved data from the MSSQL database and generated PDF loan reports. Then, I completely redesigned the dashboard- focusing on improving the UX with easy Key Performance Indicator (KPI) customization. After, 
        I established three new KPIs by retrieving data from an extensive loan candidate database. In addition to my development and design work, I showcased my communication and organizational skills through daily participation in meetings, attending company events, and leading presentations."
        link1="View Site"
        href1="https://www.fnb-online.com/"
      ></app-card>

      <!-- RED HOUSE -->
      <app-card
        title="RED HOUSE COMMUNICATIONS"
        sub="STUDENT INTERNSHIP"
        desc="In 2017, I joined the design and development team at the Emmy Award-winning advertising agency Red House Communications for their University of Maryland campaign. Here, I worked with Adobe XD for designing sites and wireframes before creating detailed mockups with HTML, CSS, and JavaScript to present to clients during weekly meetings. Between tasks, I used a variety of Adobe applications (Photoshop, Indesign, Illustrator, and Premiere) to assist the creative team on their display advertisements."
        link1="View Site"
        href1="https://redhousecom.com/"
        link2="My Campaign"
        href2="https://redhousecom.com/project/university-of-maryland"
      ></app-card>

      <!-- FEDEX -->
      <app-card
        title="FEDEX CORPORATE HQ"
        sub="STUDENT INTERNSHIP"
        desc="Assisted a team of Software Developers to create, deploy, and maintain web applications for the company. Required frequent use of JavaScript- with some SQL and Java as well."
        link1="View Site"
        href1="https://www.fedex.com/en-us/home.html"
      ></app-card>

      <app-card
        title="STAPLES"
        sub="TECHNOLOGY ASSOCIATE"
        desc="As a technology associate for over a year, I provided expert assistance to customers in hardware and software matters- translating complex technological concepts into easily understandable terms. My responsibilities included malware removal, troubleshooting, product demos, and identifying the correct computer components for customers' needs."
        link1="View Site"
        href1="https://www.staples.com/"
      ></app-card>

      <app-card
        title="THE OUTREACH TEAM"
        sub="VOTER CONTACT STAFF"
        desc="Voter canvassing taking place during the 2022 and 2024 election years. Here, I traveled to numerous diverse neighborhoods and communities in Western Pennsylvania to educate voters about the candidates.
        After the 2022 senate election, I remained close to the team and was brought back as a full-time team member on the 2024 presidential election campaign. During this campaign, I will be traveling across the state
        to identify unregistered voters- imploring them to participate and vote in the election."
        link1="View Site"
        href1="https://www.theoutreachteam.net/"
      ></app-card>
    </div>
  </div>

  <hr />

  <!-- PROJECTS SECTION -->
  <div class="section s2">
    <div class="title">
      <h1>Projects</h1>
    </div>

    <div class="content">
      <app-card
        title="jLearn"
        sub="HTML, CSS, JavaScript"
        desc="jLearn is a Japanese language learning site that allows users to practice characters and words through a variety of study modules that include helpful resources and quizzes."
        link1="View Site"
        href1="https://www.sjszuch.com/hiragana-quiz/"
        link2="GitHub"
        href2="https://github.com/sjszuch/hiragana-quiz"
      ></app-card>

      <app-card
        title="MTG Health Counter"
        sub="HTML, CSS, JavaScript"
        desc="A simple health point counter to be used with the popular card game, Magic: the Gathering. Also includes the options to roll d6 and d20 dice."
        link1="View Site"
        href1="https://www.sjszuch.com/mtg-life-counter/"
        link2="GitHub"
        href2="https://github.com/sjszuch/mtg-life-counter"
      ></app-card>

      <app-card
        title="Adv. Data Structures & Algorithms"
        sub="Javascript"
        desc="A collection of projects that I have worked on for my Advanced Data Structures and Algorithms course at Point Park University."
        link1="View Site"
        href1="https://www.sjszuch.com/CMPS260/"
        link2="GitHub"
        href2="https://github.com/sjszuch/CMPS260"
      ></app-card>

      <app-card
        title="Loan Review Application"
        sub="Angular, SCSS, Java"
        desc="The complex internal loan review application I worked on during my time with First National Bank. This application is used by the bank to review loans and loan applications."
      ></app-card>
    </div>
  </div>

  <hr />
  <!-- SKILLS SECTION -->
  <div class="section s3">
    <div class="title">
      <h1>Skills</h1>
    </div>

    <div class="content">
      <app-card
        title="DEVELOPMENT"
        desc="Highly proficient with front-end technologies. HTML, CSS, JavaScript, Angular, React and SCSS are my most used technologies. I also have strong experience with Node, Bootstrap, Git, Azure Devops, SQL and Java. I have a working knowlege of C#. I greatly enjoy working with APIs and advanced applications which require logic and problem solving. Currently I am further researching and learning about back-end technologies and frameworks."
      ></app-card>
      <app-card
        title="DESIGN"
        desc="I have a strong passion for creating user-friendly experiences with my projects, and utilize many tools to design them. I have a high level of experience with nearly all Adobe products, including Photoshop, XD, InDesign, Illustrator, Premiere Pro, Lightroom, and more. I also have much experience with Figma, Canva, and other design tools."
      ></app-card>
      <app-card
        title="MANAGEMENT"
        desc="Along with my Computer Science degree, I have taken many management courses which have helped me to further establish and build myself as a strong leader. I have experience with team management, and have partaken in many different types of meetings, often leading the presentation when possible. I have also taken many courses on business and marketing, which have helped me to understand the business side of the industry."
      ></app-card>
    </div>
  </div>

  <hr />

  <!-- Education -->
  <div class="section s4" id="courses">
    <div class="title">
      <h1>Education</h1>
    </div>

    <div class="content">
      <app-card
        title="INFORMATION TECHNOLOGY"
        desc="Advanced Programming -
        JavaScript Data Structures & Algorithms - SQL Database Administration - Object Oriented Programming - Server Management - Networking & Security - MicroComputing - Cooperative Education - Business Analytics - eCommerce - Intro to Programming"
      ></app-card>

      <app-card
        title="BUSINESS"
        desc="Information Technology for Managers - Marketing - Corporate Finance - Managerial Accounting - Financial Accounting - Human Resource Management - Quantative Operations Management - Business Law - Microeconomics - Organizational Behavior - Statistics - Business Career Prep"
      ></app-card>

      <app-card
        title="CORE CURRICULUM"
        desc="Problem Solving with Information Technology - Economics - Oral Communication - Ethical Leadership - English Composition - University Life - Global Cultural Studies - Astronomy, Space, and Time - Advanced Algebra - Psychological Foundations - Music Composition - Criminal Justice - Psychology of Intervention"
      ></app-card>
    </div>
  </div>

  <!-- About -->
  <div class="section s5">
    <div class="title">
      <h1>About Me</h1>
    </div>

    <div class="content">
      <app-card
        desc="Now that you have some idea of the things that make me a valuable member of your team, let me tell you a little bit about myself! Yes, I'm a hardworking and dedicated individual, but I also have many other interests and hobbies. I am a huge fan of music and spend a lot of my free time practicing guitar. I enjoy writing and producing music however I'm still learning and haven't released anything yet. I hope to one day travel the world with my family and learn about more about different countries across the globe. I also love playing videogames and have been working on developing my own in Unity which is going very well."
      ></app-card>

      <!-- SMALL IMAGES (MOBILE) -->

      <app-picture
        img="/assets/images/graduation.jpg"
        desc="Point Park Graduation 2024"
      ></app-picture>

      <app-picture
        img="/assets/images/spider.jpg"
        desc="Registering voters at the Lawrenceville Independence Day Celebration"
      ></app-picture>

      <app-picture
        img="/assets/images/museum.jpg"
        desc="Touring the Carnegie Museum with my girlfriend"
      ></app-picture>

      <!-- <app-picture img="/assets/images/"></app-picture> -->
    </div>
  </div>

  <!-- BACKGROUND IMAGES (DESKTOP) -->

  <img class="deco d1" src="/assets/images/graduation.jpg" alt="" />
  <img class="deco d2" src="/assets/images/spider.jpg" alt="" />
  <img class="deco d3" src="/assets/images/museum.jpg" alt="" />
  <!-- <img class="deco d4" src="/assets/images/" alt="" /> -->
</div>
